@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;

  img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    filter: grayscale(50%);
    &:hover {
      filter: grayscale(0%);
    }

  }
}

.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  button {
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px;
    width: 450px;
    color: #fff;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 500;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        box-shadow:
         -7px -7px 20px 0px #fff9,
         -4px -4px 5px 0px #fff9,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
      }
      &:hover { 
        color: #fff;
        &:after {
          top: 0;
          height: 100%;
        }
      }
      &:active {
        top: 2px;
      } 
      &.add {
        background-color: #89d8d3;
        background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
        border: none;
        z-index: 1;
      }
    &.remove {
      &:after {
        background-color: #d32f2f;
        background-image: linear-gradient(315deg, #ff8a80 0%, #ff8a80 74%);
      }
      background-color: #ff8a80;
      background-image: linear-gradient(315deg, #ff8a80 0%, #d32f2f 74%);
      border: none;
      z-index: 1;
    }
  }
}